.product-container{
  width: 100%;
  height: auto;
  min-height: 95vh;
}

.product-container .drawer-left
{
    width:28%;
    padding: 5px 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}