<mat-form-field>
    <mat-label >Ürün Adı</mat-label>
    <input #txtName matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Kategori Seç</mat-label>
    <mat-select #slctCategory >
      <mat-option  *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Ürün Fiyatı</mat-label>
    <input #txtPrice matInput>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Ürün Stok Adedi</mat-label>
    <input #txtUnitsInStock matInput>
  </mat-form-field>

  <button (click)="create(txtName,
    slctCategory,
    txtPrice,
    txtUnitsInStock
  )" mat-raised-button color="primary">Ürünü Kaydet</button>
