<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Ürün adı </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Fiyatı </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="unitsInStock">
        <th mat-header-cell *matHeaderCellDef> Ürü adedi </th>
        <td mat-cell *matCellDef="let element"> {{element.unitsInStock}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="categoryId">
        <th mat-header-cell *matHeaderCellDef> Kategori numarası </th>
        <td mat-cell *matCellDef="let element"> {{element.categoryId}} </td>
      </ng-container>

      <ng-container matColumnDef="photos">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <img src="../../../../../assets/photo.png"  (click)="addProductImage(element.id)"  width="25" height="25" alt="">
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <img src="../../../../../assets/edit.png" width="25" height="25" alt="">
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" appDelete
        [id]="element.id"
        controller="Products"
        (callback)="getProducts()">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator  (page)="pageChanged()" [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
